.container.main h2 {
    font-size: 18px;
}

.easy-click {
    padding: 7px;
    margin: 2px;
    font-size: 1.2em;
}

header.main {
    padding-top: 1em;
}

header.main h1 {
    margin: 0;
    padding: 0.8em 0
}
