{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <h2>
            <span class="text-secondary">Editar Transportadora</span> {{ transportadora.getNome() }}
        </h2>

        <form method="POST">
            <div class="row">
                <div class="col-3">
                    <label class="form-control-label">CNPJ</label>
                    
                    <div class="form-group">
                        <input class="form-control cnpj" type="text" name="cnpj" value="{{transportadora.getCnpj()}}" />
                    </div>
                </div>

                <div class="col-3">
                    <label class="form-control-label">Status</label>
                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input {{ transportadora.getAtiva() == '1' ? 'checked' : ''  }}
                                id="status"
                                name="ativa"
                                type="checkbox" 
                                aria-label="Checkbox for following text input"
                                value="1" />
                        </span>

                        <label for="status" class="input-group-addon">Ativa</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Nome</label>
                        <input class="form-control" type="text" name="nome" value="{{transportadora.getNome()}}" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Salvar alteraçãoes</button>
            
            <a class="btn btn-danger" 
                href="{{ path('transportadora_delete', {'id': transportadora.getId()}) }}"> 
                <i class="fa fa-exclamation-triangle"></i>
                Excluir
            </a>
        </form>
    </div>
{% endblock %}
