{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <h2>Transportadoras</h2>

        <br />

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Ativa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for transportadora in transportadoras %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('transportadora_show', { 'id': transportadora.id }) }}">
                                {{ transportadora.id }}
                            </a>
                        </th>

                        <td>
                            <a href="{{ path('transportadora_show', { 'id': transportadora.id }) }}">
                                {{ transportadora.nome }}
                            </a>
                        </td>
                        <td>
                            <a class="cnpj" href="{{ path('transportadora_show', { 'id': transportadora.id }) }}">
                                {{ transportadora.cnpj }}
                            </a>
                        </td>
                        <td>
                            {% if transportadora.getAtiva() == '1' %}
                                <i class="text-success fa fa-check" aria-hidden="true"></i>
                            {% else %}
                                <i class="text-danger fa fa-times" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a class="easy-click" href="{{ path('transportadora_show', { 'id': transportadora.id }) }}">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a class="easy-click" href="{{ path('transportadora_edit', { 'id': transportadora.id }) }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                            <a class="easy-click" href="{{ path('transportadora_delete', { 'id': transportadora.id }) }}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
{% endblock %}
