{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <h2>Adicionar Transportadora</h2>

        <hr />

        <form method="POST">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="form-control-label">CNPJ</label>
                        <input class="form-control cnpj" type="text" name="cnpj" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Nome</label>
                        <input class="form-control" type="text" name="nome" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Adicionar transportadora</button>
        </form>
    </div>
{% endblock %}
