{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <h2>
            <span class="text-secondary">Transportadora</span> {{ transportadora.getNome() }} 
            <a class="easy-click" 
                href="{{ path('transportadora_edit', {'id': transportadora.getId()}) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>

            <a class="easy-click" 
                href="{{ path('transportadora_delete', { 'id': transportadora.id }) }}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </h2>

        <p>CNPJ: <span class="cnpj">{{ transportadora.getCnpj() }}</span></p>

        <div class="row">
            <div class="col-3">
                <h4>Faixas de Entrega</h4>
            </div>
            <div class="col-1">
                <a class="easy-click"
                    title="Adicionar Faixa"
                    href="{{ path('faixa_new', {'transportadoraId': transportadora.getId()}) }}">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>    
                </a>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>CEP</th>
                    <th>Peso limite</th>
                    <th>Valor do Kg</th>
                    <th>Prazo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for faixa in faixas %}
                    <tr>
                        <th scope="row">{{ faixa.getId() }}</th>
                        <td>de <span class="cep">{{ faixa.getCepInicial() }}</span> a <span class="cep">{{ faixa.getCepFinal() }}</span></td>
                        <td>{{ faixa.getPesoLimite()|number_format(3, ',') }} Kg</td>
                        <td>R$ {{ faixa.getValorKg()|number_format(2, ',') }}</td>
                        <td>de {{ faixa.getPrazoInicial() }} a {{ faixa.getPrazoFinal() }} dias</td>
                        <td>
                            <a href="{{ path('faixa_edit', {'id': faixa.getId(), 'transportadoraId': transportadora.getId()}) }}" 
                                title="Ediar faixa"
                                class="easy-click">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                            <a href="{{ path('faixa_delete', {'id': faixa.getId(), 'transportadoraId': transportadora.getId()}) }}" 
                                title="Ecluir faixa"
                                class="easy-click">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
