<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
            <script>
                (function ($) {
                    $(document).ready(function () {

                        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
                        $('.cep').mask('00000-000');
                        $('.float').mask('##0,00', {reverse: true});
                        $('.float3d').mask('##0,000', {reverse: true});
                        $('.int2d').mask('00');

                    });
                })(jQuery);
            </script>
        {% endblock %}
        
    </head>
    <body>
        <header class="main">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-2">
                        <h1 class="h6">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                            Calcula Frete
                        </h1>
                    </div>
                    <div class="col">
                        {% if app.user %}
                        <ul class="nav float-right">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('faixa_find') }}">Consultar preços</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                data-toggle="dropdown" 
                                href="#" 
                                role="button" 
                                aria-haspopup="true" 
                                aria-expanded="false">Transportadoras</a>
                                
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('transportadora_index') }}">Listar</a>
                                    <a class="dropdown-item" href="{{ path('transportadora_new') }}">Adicionar</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a title="sair" class="btn btn-secondary" href="/logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    <div>
                </div>
            <div>
        </header>

        <hr />
        
        {% block body %}{% endblock %}
    </body>
</html>
