{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Escluir Faixa?</h4>
        
        <p>Esta ação não poderá ser revertida.</p>
        <p>A Faixa dos CEPs de <b>{{ faixa.getCepInicial }} a {{ faixa.getCepFinal }}</b> será excluída pemanentemente.</p>
        
        <hr>

        <p class="mb-0">
            <form method="POST">
                <button class="btn btn-danger btn" type="submit">
                    <i class="fa fa-exclamation-triangle"></i> Excluir permanentemente
                </button>

                <a class="btn btn-success " 
                    href="{{ path('transportadora_show', {'id': faixa.getTransportadora().getId()}) }}">
                    Cancelar
                </a>
            </form>
        </p>
    </div>
</div>


{% endblock %}