{% extends 'base.html.twig' %}

{% block body %}

    <div class="container main">
        <h2>Consultar preços</h2>

        <form method="POST">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="form-group">
                        <label class="form-control-label">CEP</label>
                        <input id="viacep" class="form-control cep" name="cep" value="{{ busca.cep }}" />
                    </div>
                </div>

                <div class="col-2">
                    <div class="form-group">
                        <label class="form-control-label">Peso do produto</label>

                        <div class="input-group">
                            <input class="form-control float3d" name="peso" value="{{ busca.peso|number_format(3, ',') }}" />
                            <span class="input-group-addon">Kg</span>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Consultar</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="container">
            Resultados para  
            <b id="endereco"></b>:
        </div>

        <br />

        {% if faixas is not empty %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Transportadora</th>
                        <th>Prazo de entrga</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faixa in faixas %}
                        <tr>
                            <th scope="row">{{ faixa.getTransportadora().getId() }}</th>
                            <td>{{ faixa.getTransportadora().getNome() }}</td>
                            <td>de {{ faixa.getPrazoInicial() }} a {{ faixa.getPrazoFinal() }} dias</td>
                            <td>R$ <span class="float">{{ faixa.getValorEntrega()|number_format(2, ',') }}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {% block javascript %}
        <script src="{{ asset('assets/js/viacep-client.js') }}"></script>
    {% endblock %}

{% endblock %}

