{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">
        <h2>
            <span class="text-secondary">{{ action == 'editAction' ? 'Editar' : 'Adicionar' }} Faixa de entrega Transportadora</span>
            {{ faixa.getTransportadora().getNome() }}
        </h2>

        <form method="POST">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label class="form-control-label">CEP Inicial</label>
                        <input class="form-control cep" name="faixa[cep_inicial]" 
                            value="{{ faixa.getCepInicial() }}" />
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label class="form-control-label">CEP Final</label>
                        <input class="form-control cep" name="faixa[cep_final]" 
                            value="{{ faixa.getCepFinal() }}" />
                    </div>
                </div>
            </div>

            <div class="container border border-secondary">
                <label class="form-control-label">Prazos de entrega</label>

                <div class="row">
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-addon">de</span>
                            <input class="form-control int2d" name="faixa[prazo_inicial]" 
                                value="{{ faixa.getPrazoInicial() }}" />
                            <span class="input-group-addon">a</span>
                            <input class="form-control int2d" name="faixa[prazo_final]" 
                                value="{{ faixa.getPrazoFinal() }}" />
                            <span class="input-group-addon">dias</span>
                        </div>

                        <br />
                    </div>

                    <div class="col-1 text-center">
                        <p class="h3">E</p>
                    </div>

                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-addon">sobrepeso acrescenta</span>
                            <input class="form-control int2d" name="faixa[prazo_final_dias]" 
                                value="{{ faixa.getprazoAdicionalDias() }}" />
                            <span class="input-group-addon">dias</span>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="container border border-secondary">
                <label class="form-control-label">Pesos e valores</label>

                <div class="row">
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-addon">limite de</span>
                            <input class="form-control float3d" name="faixa[peso_limite]" 
                                value="{{ faixa.getPesoLimite()|number_format(3, ',') }}" />
                            <span class="input-group-addon">Kg</span>
                        </div>
                    </div>

                    <div class="col-1 text-center">
                        <p class="h3">A</p>
                    </div>
                    
                    <div class="col-3">
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input class="form-control float" name="faixa[valor_kg]" 
                                value="{{ faixa.getValorKg()|number_format(2, ',') }}" />
                            <span class="input-group-addon">por Kg</span>
                        </div>
                    </div>

                    <div class="col-1 text-center">
                        <p class="h3">E</p>
                    </div>

                    

                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input class="form-control float" name="faixa[valor_kg_adicional]" 
                                value="{{ faixa.getValorKgAdicional()|number_format(2, ',') }}" />
                            <span class="input-group-addon">por Kg adicional</span>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-3">
                        <div class="input-group">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                            <span class="input-group-addon">sobrepeso</span>
                            <input class="form-control float3d" name="faixa[prazo_final_peso]" 
                                value="{{ faixa.getprazoAdicionalPeso()|number_format(3, ',') }}" />
                            <span class="input-group-addon">Kg</span>
                        </div>
                    </div>
                </div>

                <p><small class="text-info">Sobrepeso é a medida utiliza para acrescentar o praso de dias. 
                    Por eg.: a cada vez que o produto incrementa 5Kg, o prazo final aumenta em 1 dia.</samall></p>
            </div>

            <br />

            <button class="btn btn-primary" type="submit">Salvar alteraçãoes</button>
        </form>
    </div>
{% endblock %}
