{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Desafio - Desenvolvedor PHP!</h1>
            <p class="lead">Sistema de cálculo de frete por faixa de CEP + peso do produto.</p>
            <hr class="my-4">
            
            <p>Faça o login ou cadastresse.</p>
            
            <p class="lead">
                <a class="btn btn-success" href="/login">Logar no sistema</a>
                <a class="btn btn-primary" href="/register">Criar novo usuáro</a>
            </p>
        </div>


    </div>
{% endblock %}
